/.gradle/
/.upx/
/app/
/build/

### IntelliJ IDEA ###
/.idea/

### Eclipse ###
/.classpath
/.project
/.settings/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
/.vscode/
