/.cache/
/.gradle/
/app/
/build/
/jaunch.tar.gz
/.lib/
/.upx/

### IntelliJ IDEA ###
/.idea/

### Eclipse ###
/.classpath
/.project
/.settings/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
/.vscode/

### macOS ###
.DS_Store
