[Desktop Entry]
Type=Application
Version=1.0
Name={{APP_TITLE}}
GenericName={{APP_TITLE}}
X-GNOME-FullName={{APP_TITLE}}
#NoDisplay=true
#Comment=
Icon={{APP_ICON}}
#Hidden=true
#OnlyShownIn=
#NotShownIn=
#DBusActivatable=true
TryExec={{APP_DIR}}/{{APP_EXE}}.sh
Exec={{APP_DIR}}/{{APP_EXE}}.sh %F
Path={{APP_DIR}}
#Terminal=false
#Actions=
#MimeType=
#Categories=
#Implements=
#Keywords=
#StartupNotify=true
#StartupWMClass=
#PrefersNonDefaultGPU=true
#SingleMainWindow=true
